/*
Colori

dark-neurtral: #161616
light-neutral: #f3f3f3
primary-color: #ff4747
secondary-color: #0d1042

Font

Electronic Arts Text

*/

@import url(https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);

/*---Start CSS Reset---*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Electronic Arts Text", "Electronic Arts Display", Verdana,
    sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*---End CSS Reset---*/

:root {
  --dark-neurtral: #161616;
  --light-neutral: #f3f3f3;
  --primary-color: #ff4747;
  --secondary-color: #0d1042;
}

/*---Stili generali*/
body {
  text-align: center;
  background-color: var(--light-neutral);
  color: var(--dark-neurtral);
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.wrapper {
  width: 1000px;
  max-width: 90vw;
  margin: auto;
}

.wrapper {
  width: 1000px;
  max-width: 90vw;
  margin: auto;
}

.div-btn > .btn {
  border: #161616 2px solid;
  padding: 12px 20px;
  transition: padding 0.1s ease-in-out;
  display: ruby;
  text-decoration: none;
  span {
    color: black;
  }
}

.div-btn > .btn:hover {
  padding: 16px 24px;
}

.div-btn {
  margin: 40px 0 80px;
}
/*---Modulo Marco---*/

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns the content to the right */
  text-align: center;
  color: white;
  padding-right: 50px; /* Adjust the padding as needed */
}

.content {
  position: relative;
  z-index: 3;
  max-width: 500px;
  text-align: center;
}


.styled-paragraph {
  font-size: 18px;
  color: #f3f3f3;
  margin: 20px 0;
}


/*---end modulo Marco---*/

/*---Start Navbar---*/
.nav-fixed {
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #161616;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: none;
}

.nav.show {
  transform: translateY(0);
  opacity: 1;
}

.nav.hidden {
  display: none;
}

.nav .ea-img {
  width: 18px;
  margin-right: 18px;
}

.ea-img:hover {
  filter: brightness(0) invert(1);
}
.logo-menu {
  height: 50px;
  width: 30px !important;
}
.three-dots {
  width: 25px;
  height: 25px;
}

#toggleSecondMenu {
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
}

.three-dots:hover {
  transform: scale(1.5);
  filter: brightness(0.5) invert(35%) sepia(100%) hue-rotate(-10deg)
    saturate(7500%) brightness(100%);
}

.main-nav {
  background-color: #f3f3f3;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
  color: #161616;
  padding: 0 20px;
  font-family: "ElectronicArtsDisplay", Arial, sans-serif;
}

.nav-span {
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  background-color: #161616;
  border-radius: 50%;
  margin: 3px;
}

.container-ea {
  display: inline-block;
}

.container-ea a {
  text-decoration: none;
}

.container-ea a:hover {
  cursor: pointer;
}

.text-icon {
  width: 80%;
  margin-left: 20px;
}

.menu-item {
  list-style: none;
}

.menu-link {
  color: #161616;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}

.menu-toggle {
  display: inline-block;
  margin-right: -48px;
}

.menu-item {
  list-style: none;
}

.menu-link {
  display: block;
  color: #161616;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #f3f3f3;
}

.menu-link:hover {
  color: #ff4747;
}

.menu-dropdown {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 4px;
  border-radius: 6px;
  padding: 30px;
}

.menu-dropdown p {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  text-align: left;
}

.menu-dropdown a {
  color: black;
  padding: 6px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.menu-item:hover .menu-dropdown {
  display: block;
}

.div-container {
  display: flex;
}

.div-container div {
  display: inline-block;
  margin: 0px 10px;
}
/*---End Navbar---*/

/* Start Sidebar*/

.main-side {
  width: calc(375px - 45px);
  padding: 20px;
}

.side-bar-menu {
  display: none;
  z-index: 999;
  width: 375px;
  background-color: #f3f3f3;
  color: #161616;
  height: 100vh;
  position: fixed;
  margin-top: 50px;
}

.side-bar-menu.show {
  display: flex;
}

.side-container {
  margin-bottom: 20px;
}

.side-container a p {
  font-size: 14px;
}

.side-container,
.side-dropdown {
  margin-bottom: 20px;
}

.side-ea a {
  display: block;
}

.side-ea {
  display: flex;
  color: #161616;
  text-decoration: none;
  padding: 10px 0;
  justify-content: space-between;
  align-items: left;
  width: calc(375px - 20px);
}

.side-icon {
  max-width: 90%;
  height: auto;
}

.leave-toggle {
  background-color: #f3f3f3;
  color: #161616;
  border: 1px solid #161616;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

.side-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.side-toggle a {
  text-decoration: none;
  color: #161616;
  font-size: 15px;
  font-weight: 500;
  width: 375px;
  justify-content: flex-start;
  width: calc(375px - 45px);
}

.side-toggle ul {
  list-style-type: none;
  width: calc(375px - 45px);
  padding: 5px;
}

.side-item {
  margin-bottom: 10px;
}

.side-dropdown {
  display: none;
  background-color: #f3f3f3;
  padding-left: 0px;
}

.side-link {
  font-size: 16px;
  color: #161616;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  cursor: pointer;
  text-align: left;
  position: relative;
}

.side-dropdown {
  display: none;
  padding-left: 0px;
}

.side-item:hover .side-dropdown {
  display: block;
}

.side-dropdown p {
  display: block;
  padding: 10px 0;
  color: #161616;
}

.side-dropdown a:hover {
  color: #ff4747;
}

.side-dropdown p:hover {
  color: #ff4747;
}

.side-dropdown a {
  display: block;
  padding: 10px 0;
  color: #161616;
  text-decoration: none;
}

.main-side ul {
  text-align: left;
}

.side-link:hover {
  color: #ff4747;
}

.side-item hr {
  border: none;
  border-top: 1px solid #161616;
  width: 95%;
  margin-left: 0px;
}

.side-dropdown hr {
  border: none;
  border-top: 1px solid #161616;
  width: 100%;
  margin: 0;
}

/* End sidebar*/

/*---Start Secondo Menu---*/
.second-menu {
  position: absolute;
  z-index: 999;

  width: 400px;
  max-width: 25vw;
  height: 100%;

  background-color: white;
  padding: 2.5rem;

  display: none;
}

.second-menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2rem;
}

.second-menu-nav > span {
  font-weight: 800;
  color: #a3a3a3;
}

#closeSecondMenu {
  fill: var(--dark-neurtral);
}

.second-menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.second-menu-items > div:first-of-type {
  grid-column: span 2;
}

/*--Hoverstate--*/
#closeSecondMenu:hover {
  cursor: pointer;
  fill: var(--primary-color);
}

.second-menu-nav > span:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.second-menu-items > .game-thumbnail > a:hover > .game-logo {
  transform: scale(1.2);
}

/*---End Secondo Menu---*/

/*---Start Modulo 2---*/
.games {
  margin-top: 50px;
}

.game-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.game-thumbnail {
  aspect-ratio: 1 / 1;

  position: relative;
}

.thumbnail-overlay {
  width: 100%;
  height: 100%;
  background: var(--dark-neurtral);
  opacity: 0.3;

  z-index: -1;
  transition: all 250ms ease-in-out;
}

.game-site {
  display: none;
  text-decoration: none;
  color: var(--light-neutral);
  font-size: 1rem;
}

.game-thumbnail > a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-area: a;
  width: 100%;
  height: 100%;
  object-fit: cover;

  place-items: center;
  text-decoration: none;
}

.game-thumbnail > a > * {
  grid-area: 1 /1;
}

.game-logo {
  width: 50%;

  max-height: 65px;

  z-index: 1;
  transition: transform 250ms ease-in-out;
}

.game-keyart {
  z-index: -2;
}

.more-games-btn {
  margin-top: 1rem;
}

.game-keyart {
  height: 100%;
  width: auto;
}

/*Hover states*/
a:hover > .game-logo {
  transform: translate(0, -60px);
}

a:hover > .thumbnail-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  opacity: 0.9;

  z-index: -1;
}

a:hover > .game-site {
  display: contents;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-items: center;
}
/*---End Modulo 2---*/

/*---Start Modulo 3---*/

.container-modulo3 {
  .title-news {
    margin-top: 50px;
  }

  .tab-bar {
    display: flex;
    width: 970px;
    max-width: 90vw;
    margin: auto;
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
  }

  .tab-bar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
  }

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2em;
    color: #000; /* change this to match your design */
    cursor: pointer;
    z-index: 1;
  }

  #scroll-left {
    left: 0;
  }

  #scroll-right {
    right: 0;
  }

  .tab-bar label {
    margin-right: 0px;
  }

  .tab {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    background-color: #eee;
  }
  .tab1 {
    background-color: #ccc;
    border-bottom: 1px solid red;
  }
  .tab:hover {
    background-color: #ddd;
  }

  .tab.active {
    background-color: red !important;
    border-bottom: 1px solid #fff;
  }

  .tabset hr {
    width: 100vw;
    margin: 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 70px 0;
    width: 970px;
    max-width: 90vw;
    margin: auto;
  }

  .card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding-bottom: 24px;
    transition: transform 0.4s ease-in-out;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .divtext {
    padding: 15px;
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .subtitle {
    color: red;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
  }
  .subdate {
    font-weight: bold;
    color: black;
    margin-left: 20px;
  }

  .subtitle,
  .title,
  .subdate {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 6.3px;
  }

  .p-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .btn {
    border: #161616 2px solid;
    padding: 12px 20px;
    transition: padding 0.1s ease-in-out;
    box-sizing: border-box;
    display: ruby;
    background-color: #efefef;
    text-decoration: none;
    span {
      color: black;
    }
  }

  .btn:hover {
    padding: 16px 24px;
  }

  .div-btn {
    margin-bottom: 100px !important;
  }
}

@media all and (max-width: 1024px) {
  .container-modulo3 {
    .title-news {
      margin-top: 50px;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
      padding: 70px 0;
      width: 970px;
      max-width: 90vw;
      margin: auto;
      align-items: center;
    }

    #card-1 {
      grid-row: 1;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: 499.3px;
    }
    #card-2 {
      grid-row: 1;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: 499.3px;
    }

    #card-3 {
      grid-row: 2;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: 499.3px;
    }

    #card-4 {
      grid-row: 2;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: 499.3px;
    }
    #card-5 {
      grid-row: 3;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: 499.3px;
    }
    #card-6 {
      grid-row: 3;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: 499.3px;
    }
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 28px 36px rgba(0, 0, 0, 0.6) !important;
      cursor: pointer;
    }

    .btn {
      border: #161616 2px solid;
      padding: 12px 20px;
      transition: padding 0.1s ease-in-out;
      box-sizing: border-box;
      display: ruby;
      background-color: #efefef;
      text-decoration: none;
      span {
        color: black;
      }
    }

    .btn:hover {
      padding: 16px 24px;
    }

    .div-btn {
      margin-bottom: 100px !important;
    }
  }
}
@media all and (max-width: 768px) {
  .container-modulo3 {
    .title-news {
      margin-top: 50px;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 20px;
      padding: 70px 0;
      width: 970px;
      max-width: 90vw;
      margin: auto;
      align-items: center;
    }

    #card-1 {
      grid-row: 1;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: initial;
      margin-bottom: -75px;
    }
    #card-2 {
      grid-row: 2;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: initial;
      margin-bottom: -25px;
    }

    #card-3 {
      grid-row: 3;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: initial;
      margin-bottom: -20px;
    }

    #card-4 {
      grid-row: 4;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: initial;
      margin-top: 20px;
    }
    #card-5 {
      grid-row: 5;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: initial;
      margin-bottom: 10px;
    }
    #card-6 {
      grid-row: 6;
      background-color: #fff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
      text-align: left;
      padding-bottom: 24px;
      transition: transform 0.4s ease-in-out;
      height: initial;
      margin-top: -25px;
      margin-bottom: px;
    }
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 28px 36px rgba(0, 0, 0, 0.6) !important;
      cursor: pointer;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: none;
    }

    .subtitle,
    .title,
    .subdate {
      display: block;
      margin-top: 10px;
      font-weight: bold;
      margin-bottom: 6.3px;
      text-align: center;
    }

    .p-paragraph {
      display: none;
    }

    .btn {
      position: relative;
      border: #161616 2px solid;
      padding: 12px 20px;
      transition: padding 0.1s ease-in-out;
      box-sizing: border-box;
      display: ruby;
      background-color: #efefef;
      text-decoration: none;
      span {
        color: black;
      }
    }

    .btn:hover {
      padding: 16px 24px;
    }

    .div-btn {
      margin-bottom: 100px !important;
    }
  }
}

/*---End Modulo 3---*/

/*---Start Modulo 4---*/
.second-hero {
  height: 486px;
  background-image: url("assets/bg-modulo-4-1920.jpg");
  background-size: cover;

  display: flex;
}

.hero-content div {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: center;
}

.hero-content div > p {
  text-align: left;
  width: 50%;
}

.hero-content .div-btn {
  margin-bottom: 0;
}

.hero-content .div-btn span {
  color: var(--light-neutral);
}

.hero-content .div-btn .btn {
  border: var(--light-neutral) 2px solid;
}

.hero-content p {
  color: var(--light-neutral);
}

.hero-bottom {
  background-color: #6fb0d6;
}

.hero-bottom-content p {
  font-size: 1.35rem;
  font-weight: bold;
  text-align: left;

  margin-right: 100px;

  flex: 1 1 0;
}

.hero-bottom-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  padding: 20px 0;
}

.hero-bottom .div-btn {
  margin: 10px 0;
  flex: 1 1 0;

  display: flex;
  justify-content: flex-end;
}

@media (max-width: 860px) {
  .hero-bottom-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .hero-bottom-content p {
    flex: none;
    margin: 0;
  }

  .hero-bottom .div-btn {
    flex: none;
    margin: 20px 0 0;
  }
}

@media (max-width: 767px) {
  .second-hero {
    background-image: url("assets/bg-modulo-4-1920.jpg");
  }

  .hero-content div > p {
    width: 100%;
  }
}

/*---End Modulo 4---*/

/*---footer---*/

footer {
  display: flex;
  flex-direction: column;
}

.footer-top/*---footer---*/

footer {
  display: flex;
  flex-direction: column;
}

.section1 {
  background-color: #eaeaea;
  padding-bottom: 60px;
}

.red-link {
  color: red;
  text-decoration: none;
  font-size: 14px;
}

hr {
  color: black;
}

.terms {
  font-size: 14px;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 20px;
}

.conversation {
  color: black;
  text-decoration: none;
}

.firstLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
} 

.conversation:hover {
  color: red;
}

/* Tooltip */

#tooltip .tooltiptext {
  visibility: hidden;
  width: 20px;
  background-color: rgb(70, 67, 67);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  position: relative;
  left: 10px;
  top: 10px;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
  display: inline;
  text-decoration: none;
}

/* End Tooltip */

.participate {
  font-weight: bold;
  position: relative;
  right: 130px;
  padding-left: 30px;
}

.icons {
  display: flex;
  flex-direction: row;
  text-align: right;
  padding-top: 10px;
}

.icon {
  padding: 0.1px;
}

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4% 10%;
}

.left {
  padding-left: 5px;
  width: 60%;
}

.last-links {
  margin-left: 4%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.actions {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.actions:hover {
  color: black;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
}

.small_links {
  padding-top: 40px;
  padding-left: 27px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.agreements {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.agreements:hover {
  color: black;
}

.close {
  padding-top: 10px;
  padding-left: 27px;
  text-align: left;
}

.right {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.butt {
  padding: 20px 40px;
}

.lingua {
  margin-left: 60px;
}

.priv {
  padding-top: 140px;
  padding-left: 220px;
}
