/*
Colori

black: #161616
white: #f3f3f3
coral: #ff4747
deep-blue: #0d1042

Font

Electronic Arts Text

*/

@import url(https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);

/*---Start CSS Reset---*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Electronic Arts Text", "Electronic Arts Display", Verdana,
    sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*---End CSS Reset---*/

:root {
  --black: #161616;
  --white: #f3f3f3;
  --coral: #ff4747;
  --deep-blue: #0d1042;
}

/*---Stili generali*/
body {
  text-align: center;
  background-color: #f3f3f3;
}

/*---Start Modulo 2---*/
.games {
  width: 70vw;
  margin: auto;
  border: 2px solid yellow;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.game-thumbnail {
  width: 300px;
  aspect-ratio: 1 / 1;
  border: 2px solid red;
}

.game-thumbnail > a {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;

 place-items: center;
}

.game-thumbnail > a > * {
  grid-area: 1 /1;
}

.game-logo {
  width: 50%;

  z-index: 1;
}

.game-keyart {
  z-index: -1;
}
/*---End Modulo 2---*/
