/*
Colori

dark-neurtral: #161616
light-neutral: #f3f3f3
primary-color: #ff4747
secondary-color: #0d1042

Font

Electronic Arts Text

*/

@import url(https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);

/*---Start CSS Reset---*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Electronic Arts Text", "Electronic Arts Display", Verdana,
    sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*---End CSS Reset---*/

:root {
  --dark-neurtral: #161616;
  --light-neutral: #f3f3f3;
  --primary-color: #ff4747;
  --secondary-color: #0d1042;
}

/*---Stili generali*/
body {
  text-align: center;
  background-color: var(--light-neutral);
  color: var(--dark-neurtral);
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.more-games-btn {
  padding: 0.75rem 1.5rem;
  width: max-content;
  border: 1px solid var(--dark-neurtral);
  border-radius: 3px;
  margin: auto;
}

.more-games-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.more-games-btn > a {
  text-decoration: none;
  color: var(--dark-neurtral);
  pointer-events: none;
}

/*---Start Secondo Menu---*/
.second-menu {
  position: absolute;
  z-index: 3;

  width: 300px;
  max-width: 25vw;
  height: 100%;

  background-color: #ff4747;
  padding: 2rem;
}

.second-menu-content {
  border: 1px solid white;

}

.second-menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2rem;
}

.second-menu-nav > span {
  font-size: 0.8rem;
  font-weight: 600;
}

.second-menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.second-menu-items > div:first-of-type  {
  grid-column: span 2;
}

/*---End Secondo Menu---*/

/*---Start Modulo 2---*/
.games {
  width: 950px;
  max-width: 90vw;
  margin: auto;
}

.game-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.game-thumbnail {
  aspect-ratio: 1 / 1;

  position: relative;
}

.thumbnail-overlay {
  width: 100%;
  height: 100%;
  background: var(--dark-neurtral);
  opacity: 0.3;

  z-index: -1;
}

.game-site {
  display: none;
  text-decoration: none;
  color: var(--light-neutral);
  font-size: 1rem;
}

.game-thumbnail > a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-area: a;
  width: 100%;
  height: 100%;
  object-fit: cover;

  place-items: center;
  text-decoration: none;
}

.game-thumbnail > a > * {
  grid-area: 1 /1;
}

.game-logo {
  width: 50%;

  z-index: 1;
}

.game-keyart {
  z-index: -2;
}

.more-games-btn {
  margin-top: 1rem;
}

.game-keyart {
  height: 100%;
  width: auto;
}

/*Hover states*/
a:hover > .game-logo {
  position: absolute;
  top: 30%;
}

a:hover > .thumbnail-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  opacity: 0.9;

  z-index: -1;
}

a:hover > .game-site {
  display: contents;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-items: center;
}
/*---End Modulo 2---*/
